
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div *ngFor="let item of carouselData; let i = index" class="carousel-item" [class.active]="i === 0">
      <img [src]="item.img" class="d-block w-100" alt="carousel image">
    </div>
  </div>
</div>
<div class="container">
<div class="card-container">
  <div class="card mb-3 custom-card" *ngFor="let news of newsData">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ news.title }}</h5>
          <p class="card-text">{{ news.description }}</p>
          <p class="card-text"><small class="text-body-secondary">{{ news.updatedAt }}</small></p>
        </div>
      </div>
      <div class="col-md-4">
        <img [src]="news.imageUrl" class="bd-placeholder-img img-fluid rounded-start" width="100%" height="450" alt="News Image">
      </div>
    </div>
  </div>  
</div>
<div class="timeline-container">
  <div class="timeline">
    <div *ngFor="let event of timelineData" class="timeline-item">
      <div class="timeline-icon"></div>
      <div class="timeline-content">
        <h3>{{ event.title }}</h3>
        <p>{{ event.description }}</p>
        <small>{{ event.date }}</small>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="card" *ngFor="let stat of schoolStats">
    <div class="card-icon">
      <i [class]="stat.icon"></i> 
    </div>
    <div class="card-content">
      <h3>{{ stat.title }}</h3>
      <p>{{ stat.value }}</p>
    </div>
  </div>
</div>
<div class="reviews-container">
  <div class="review-card" *ngFor="let review of reviews">
    <div class="review-header">
      <h2>{{ review.title }}</h2>
      <div class="rating">
        <span *ngFor="let star of review.stars" class="star">{{ star }}</span>
      </div>
    </div>
    <p class="review-description">{{ review.description }}</p>
  </div>
</div>
<div class="stories-container">
  <div class="story-card" *ngFor="let story of stories">
    <div class="story-header">
      <h2>{{ story.title }}</h2>
      <div class="icon">
        <i [class]="story.icon"></i> 
      </div>
    </div>
    <p class="story-content">{{ story.content }}</p>
    <p class="author-name">- {{ story.author }}</p>
  </div>
</div>
</div>