.footer-container {
  background-color: #1e1e2f;
  color: plum;
  padding: 20px 0;
  text-align: center;
}

.footer-container .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: plum;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
}

.footer-links a:hover {
  color: #c9c9c9;
}

@media (max-width: 768px) {
  .footer-links {
    flex-direction: column;
  }
}