<div class="detail-container">
    <img src="assets/witcher.jpg" alt="witcher">
    <H2>Ancient times and construction of the keep</H2>
    <p>Oxenfurt Academy scholars speculate that in the place where the current keep stands there was originally an ancient elven defensive structure.[3] The Circle of Whispering Stones was likely erected during that era.[N 1]
        By the time Nordlings erected the modern castle in the 2nd half of the 11th century,[3] Wolf School witchers had already been present in the caves of Kaer Morhen valley.[4] Human inhabitants eventually left the keep for some reason and it became the seat of the Wolf witchers.</p>
        <h2>
            School of the Wolf at its height
        </h2>
        <p>
            The keep and the bastion, encircled by The Killer, were the primary training area for young Wolves. In the Laboratorium beneath the castle resident renegade mages and druids performed the Trials and Changes which transformed boys into witchers.[1]

The men at Kaer Morhen rarely had anything to do with the Kaedwenian locals, maintaining a delicate balance that neither wished to disrupt.[5] As one could not find the fortress without the knowledge of the treacherous trail, it used to remain on the outskirts of history books. Legends claim that it is in Kaer Morhen where young Esteril Thyssen and his wife Agnes of Aedirn hid from King Videmont's wrath in 1160s.[6]
        </p>
        <h2>
            Pogrom and decline
        </h2>
        <p>
            The dwindling number of monsters, together with the vile acts committed purportedly by witchers and reported in Monstrum, or Description of the Witcher pamphlet, resulted in anti-witcher sentiments growing amongst the Kaedwenian population. In the 1194[7][N 2] a mob of peasants led by opportunistic mages stormed Kaer Morhen massacring everyone inside[1]—23 witchers and forty students,[8] including children, and the renegade mages who oversaw the mutation process. Only those members of the Wolf School who remained outside the castle survived. The pogrom was officially condemned[1] as an "isolated incident", with some of the attackers even expressing regret.[3]
While their numbers were greatly reduced, witchers continued to run the School.[1] Rennes took the mantle of the Grandmaster[2] after Barmin[4] and Vesemir replaced Varin as a fencing instructor.[1][2][4] As many of the mages perished during the pogrom,[9] the mutation process was even harsher—some boys were subjected to additional experiments, mostly with fatal results. During one of such experiments all subjects save for Geralt died.[10]
Finally the chain of witcher production snapped when the last wizard capable of performing the Trials and Changes died or vanished, marking late 1230s or early 1240s as the last time when young witchers practiced at The Killer. One of the youngest fully-trained Wolves was Lambert.[1]
        </p>
        <h2>After the end</h2>
        <p>
            The end of training did not mark the end of Kaer Morhen. While new adepts were no longer and the keep was a ruin of its former self, adult witchers still arrived here to spend winters with their comrades.[1] In 1242,[N 3] Eskel's surprise child, Deidre Ademeyn, took refuge in the fortress to hide from her brother Merwin's men.[11]

In 1264, Geralt brought the orphaned Ciri to Kaer Morhen, where she met Lambert, Eskel and Vesemir who were staying there for the winter, as well as Coën, a visitor[1] from the School of the Griffin.[12][13] By that year, Vesemir was considered to be the only witcher left from the previous generation of the Wolves.

As Ciri manifested unnatural powers, for the next year's winter the witchers invited Triss Merigold to watch over the girl. While Triss initially suspected the witchers wanted her to mutate Ciri, it turned out they were just afraid of the girl's magical abilities. As Triss feared she was unable to control Ciri, she convinced Geralt and others to put the young witcheress to care of a more experienced sorceress; thus in spring 1266 Geralt, Triss, and Ciri left for the temple in Ellander where Ciri was to be tutored by Yennefer of Vengerberg.[1]
        </p>
</div>

<div class="more-detail">
    <h3>More about us</h3>
    <div class="card" style="width: 18rem;">
        <img src="assets/witcher2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/witcher3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>