<div class="detail-container">
  <img src="assets/witcher.jpg" alt="witcher">
  <h2>Ancient times and construction of the keep</h2>
  <p>
    Oxenfurt Academy scholars speculate that in the place where the current keep stands there was originally an ancient elven defensive structure. 
    The Circle of Whispering Stones was likely erected during that era. By the time Nordlings erected the modern castle in the 2nd half of the 11th century, Wolf School witchers had already been present in the caves of Kaer Morhen valley.
    Human inhabitants eventually left the keep for some reason and it became the seat of the Wolf witchers.
  </p>

  <h2>School of the Wolf at its height</h2>
  <p>
    The keep and the bastion, encircled by The Killer, were the primary training area for young Wolves. In the Laboratorium beneath the castle resident renegade mages and druids performed the Trials and Changes which transformed boys into witchers.
  </p>

  <h2>Pogrom and decline</h2>
  <p>
    The dwindling number of monsters, together with the vile acts committed purportedly by witchers, resulted in anti-witcher sentiments growing amongst the Kaedwenian population. In 1194, a mob of peasants led by opportunistic mages stormed Kaer Morhen, massacring everyone inside.
    While their numbers were greatly reduced, witchers continued to run the School.
  </p>

  <h2>After the end</h2>
  <p>
    The end of training did not mark the end of Kaer Morhen. While new adepts were no longer and the keep was a ruin of its former self, adult witchers still arrived here to spend winters with their comrades. In 1264, Geralt brought the orphaned Ciri to Kaer Morhen, where she met Lambert, Eskel, and Vesemir.
  </p>
</div>

<div class="more-detail">
  <h3>More about us</h3>
  <div class="card-container">
    <div class="card mb-3 custom-card" *ngFor="let news of newsData">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ news.title }}</h5>
            <p class="card-text">{{ news.description }}</p>
            <p class="card-text"><small class="text-body-secondary">{{ news.updatedAt }}</small></p>
          </div>
        </div>
        <div class="col-md-4">
          <img [src]="news.imageUrl" class="bd-placeholder-img img-fluid rounded-start" width="100%" height="450" alt="News Image">
        </div>
      </div>
    </div>  
</div>
